<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/desing.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body ng-app="MusHub">
<!-- <header>

<span id="app-name">Mus Hub</span>
</header> -->
<main ng-controller="MainController">
    <div id="header">
        <div id="name">MusHub</div>
        <div id="sort-by">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="ord = '-rating'" href="#">Rating</a></li>
                    <li><a ng-click="ord = 'name'" href="#">Name</a></li>
                    <li><a ng-click="ord = 'genre'" href="#">Genre</a></li>
                    <li><a ng-click="ord = 'artist'" href="#">artist</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sigh_in" >
            <h3 style="position: relative; left: 30px">Please press button to sign in</h3>
            <a href=""><div style="float: right; position: relative; top: -40px; right: 30px" class="btn btn-large btn-primary">Sign in</div></a>
        <hr style="position: relative; left: 30px">
    </div>
    <div id="song-list">
        <div class="song" ng-repeat="song in items | orderBy : ord">
            <div class="song-main-data">
                <div class="song-name">Name: {{song.name}} </div>
                <div id="rate">Rating: {{song.rating}} <!--<div class="rated"><div></div></div><div class="rated"><div></div></div><div class="rated"><div></div></div><div class="unrated"><div></div></div><div class="unrated"><div></div></div>--> </div>
            </div>
            <div class="song-data">
                <div class="song-data-genre">Genre: {{song.genre}}</div>
                <div class="song-data-album">Artist: {{song.artist}}</div>
            </div>
            <div class="play"><video onpause="music.pause(this)" onplay="music.play(this)" controls="" id="{{song.id}}" nameS = '{{song.name}}' name="media"><source src="{{song.link | trusted}}" type="audio/mpeg" /></video></div>
            <div name="{{song.name}}" class="commentHide">
                <input type="text" nameT="{{song.name}}" class="form-control commentText"><br/><br/>
                <button class="btn btn-default" nameB="{{song.name}}">Send</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>